header {
  background-color: rgb(0, 10, 10);
}
header .navbar .collapse .navbar-nav .txt li a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 19px;
  border-radius: 8px;
  min-width: 129px;
  width: 100%;
  text-align: center;
}
header .navbar .collapse .navbar-nav .txt li a:hover {
  background-color: #fff;
  color: #000D0D;
}
header .navbar {
  padding: 28px 0;
}
header .navbar .collapse .navbar-nav {
  margin-left: px;
  column-gap: 20px;
}
header .navbar .collapse .nav-item .nav-link {
  min-width: 129px;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  border-radius: 8px;
  padding: 10px 19px;
  text-align: center;
}
header .navbar .collapse .nav-item .nav-link:hover {
  background-color: #fff;
  color: #000D0D;
}
header .navbar .collapse .navbar-nav .icon {
  column-gap: 14px;
  margin-left: 23px;
}
header .navbar .collapse .navbar-nav .icon li a img {
  filter: brightness(0%) invert(1);
  height: auto;
  max-width: 61%;
}
header .navbar .collapse .navbar-nav .icon li a img:hover {
  filter: brightness(100%);
}
header .navbar .collapse .navbar-nav .icon .navbar .collapse .navbar-nav .d-flex {
  margin-left: -56px;
}

@media (min-width: 1200px) {
  header .navbar .collapse .navbar-nav {
    margin-left: px;
    column-gap: 54px;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 16px;
}

body {
  font-family: Poppins, sans-serif;
}

a {
  display: inline-block;
}

.navbar-toggler-icon {
  background-image: url(/img/clipart365828.png);
}

.bg-dark {
  background-color: black !important;
}

.suave-banner {
  background-color: #020003;
  color: #fff;
}
.suave-banner .section-vid {
  padding-bottom: 100px;
  min-height: calc(100vh - 250px);
  display: flex;
}
.suave-banner .section-vid::before {
  content: "";
  background-color: rgba(0, 178, 106, 0.1);
  background-image: linear-gradient(to bottom, black, rgba(0, 178, 106, 0.07) 40%, black 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 86px;
  bottom: -215px;
  z-index: 1;
}
.suave-banner .vid-wrap {
  position: absolute;
  justify-content: end;
  display: flex;
  top: 86px;
}
.suave-banner .vid-wrap video {
  width: 70%;
  object-fit: cover;
}
.suave-banner .vid-wrap .position-absolute {
  right: 0;
}
.suave-banner .content-area {
  padding-top: 160px;
  padding-right: 18px;
}
.suave-banner .content-area h1 {
  font-size: 3.5vw;
  line-height: 4.5vw;
  letter-spacing: normal;
  margin-bottom: 15px;
  margin-top: 15px;
}
.suave-banner .content-area .elec {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}
.suave-banner .content-area .elec:before {
  content: "";
  height: 26px;
  width: 26px;
  background-image: url(../img/ai-cion.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
}

/*# sourceMappingURL=styles.css.map */
